// system colors
$lightBlue: #F1F9FF;
$midBlue: #BCE0FD;
$blue: #7FC4FD;
$darkBlue: #2699FB;

// typography
// character styles
$headlineSize: 40pt;
$headlineStyle: bold;

$titleSize: 30pt;
$titleStyle: bold;

$subheaderSize: 20pt;
$subheaderStyle: lighter;

$quoteSize: 20pt;
$qouteStyle: italic;

$largeBodySize: 14pt;
$largeBodyStyle: bold;

$bodySize: 14pt;
$bodyStyle: lighter;

$secondaryBodySize: 12pt;
$secondaryBodyStyle: lighter;

$placeholderSize: 12pt;
$placeholderStyle: italic;

$buttonSize: 10pt;
$buttonStyle: bold;

// global style
$mainpageWidth: 85vw;