@import 'global';

.maindiv{
    width: $mainpageWidth;
    color: $darkBlue;

    @media screen and (max-width: 800px) {
        width: auto;
    }

    section {
        padding: 0 1rem;
    }

    h2 {
        margin: 0;
        font-family: 'Times New Roman', Times, serif;
        font-size: $headlineSize;
        font-weight: $bodyStyle;
    }
}

.breadcrumbs {
    font-size: $buttonSize;
    font-weight: $buttonStyle;
}

.bclink {
    text-decoration: none;
    color: $darkBlue;
}

.participantsgrid {
    background-color: $lightBlue;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding: 1rem;
    gap: 1rem;

    @media screen and (max-width: 800px) {
        grid-template-columns: 1fr 1fr;
    }
}

.participantsinnerdiv {
    border: 2px solid $midBlue;
    border-radius: 5px;
    padding: 1rem;
}

.participantsinfo {
    margin: 4px 0;
}