@import 'global';

.maindiv{
    width: $mainpageWidth;
    color: $darkBlue;

    @media screen and (max-width: 800px) {
        width: auto;
    }

    section {
        padding: 0 1rem;
    }

    h2 {
        margin: 0;
        font-family: 'Times New Roman', Times, serif;
        font-size: $headlineSize;
        font-weight: $bodyStyle;
    }
}

.breadcrumbs {
    font-size: $buttonSize;
    font-weight: $buttonStyle;
}

.bclink {
    text-decoration: none;
    color: $darkBlue;
}

.registrationform {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;

    @media screen and (max-width: 800px) {
        grid-template-columns: 1fr;
    }

    label {
        display: block;
    }

    .registrationinput {
        display: block;
        width: 100%;
        margin: .5rem 0 1rem 0;
    }

    .commentfield {
        display: block;
        width: 100%;
        height: 120px;
        margin: .5rem 0 1rem 0;
    }
}

.tilmeld {
    background-color: $darkBlue;
    color: white;
    padding: 8px;
    width: 100%;
    border-radius: 5px;
    border: 2px solid $darkBlue;
    cursor: pointer;
    text-decoration: none;
    font-size: $buttonSize;
    font-weight: $buttonStyle
}